XIAOZHI_MCP_ENDPOINT=
XIAOZHI_AGENT_ID=
GITHUB_OWNER=steff1986-hue
GITHUB_REPO=DIOX

BRAVE_API_KEY=
TAVILY_API_KEY=
FIRECRAWL_API_KEY=

MCP_HUB_URL=
MCP_TRANSPORT=
DIOX_MEMORY_MODE=short_term
DIOX_DEFAULT_LANGUAGE=it
